.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    color: #fff;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menuItem{
    color: #fff;
}
.scrollUp{
    background: #000;
    transition: ease-in-out 0.5s;
    transform: translateY(0);
}
.scrollDown{
    background: #000;
    transition: ease-in-out 0.5s;
    transform: translateY(-100%);
}